<!DOCTYPE html>
<html>
<head>
  <title>RailsEmoji</title>
  <%= stylesheet_link_tag    "rails-emoji/application", :media => "all" %>
  <%= javascript_include_tag "rails-emoji/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
